<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>update</title>
</head>
<body>
	<form action="/user/update" method="post">
		<input type="hidden" th:value="${updateUser.id}" name="id"><br>
		<!-- name 명은 dto 필드값과 일치해야함 -->
		이메일 : <input type="text" th:value="${updateUser.userEmail}" name="userEmail" readonly><br>
		비밀번호 : <input type="text" th:value="${updateUser.userPassword}" name="userPassword"><br>
		이름 : <input type="text" th:value="${updateUser.userName}" name="userName"><br>
		<input type="submit" value="정보수정">
	</form>
</body>
</html>